/* Main */

body {
    background-color: black;
    color: white;
    font-size: 240px;
}

.page {
    border: 4px solid black;
}

.box {
    box-shadow: inset 0 0 0 4px #000;
}

.bg-yellow {
    background-color: #fff636;
}

.bg-blue {
    background-color: #77ebfd;
}
  
.bg-red {
    background-color: #fc3035;
}
  
.bg-purple {
    background-color: #cb89fc;
}

.w-200 {
    width: 200%;
}


/* Specific */

/* 1st Column  */
/* Top frame */
.conveyor {
    width: 200%;
}
.conveyor-belt {
    border-left: 4px solid black;
    border-right: 4px solid black;

}
/* 2nd Column  */
/* Top frame */
.dot {
    width: 8px;
    height: 8px;
    background-color: #000;

}

/* Bottom frame */
.tunnel circle, #crosses path {
    transform-origin: center;
}

/* 3rd Column  */
/* Top frame */

