/* Main */

body {
    background-color: black;
    color: white;
    font-size: 240px;
}

.page {
    border-left: 4px solid black;
    border-right: 4px solid black;
    position: relative;
}

/* Fake top & bottom borders */

.page:after,
.page:before {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 8px;
background-color: #000;
z-index: 3;
}

.page:before {
    top: 0;
}
.page:after {
    bottom: 0;
}

/* Shadows */

.box {
    box-shadow: inset 0 0 0 4px #000;
}

/* Colors */

.bg-yellow {
    background-color: #fff636;
}

.bg-blue {
    background-color: #77ebfd;
}
  
.bg-red {
    background-color: #fc3035;
}
  
.bg-purple {
    background-color: #cb89fc;
}

.w-200 {
    width: 200%;
}

/* 1st Column  */

/* Moving rectangles */
.conveyor {
    width: 200%;
}
.conveyor-belt {
    border-left: 4px solid black;
    border-right: 4px solid black;
}

/* 2nd Column  */
.dot {
    width: 8px;
    height: 8px;
    background-color: #000;
}
.square {
    width: 8px;
    height: 8px;
    background-color: #000;
}

.tunnel circle,
#crosses path {
  transform-origin: center;
}

